.Menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.MenuButtons {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
}

.MenuInfo {
    text-align: right;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 2px;
}