.Tooltip {
    margin: 0px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    white-space: nowrap;
}

.Header {
    margin: 2px;
    margin-bottom: 5px;
}

.Label {
    margin: 2px;
}